grafana:
  enabled: true
  adminPassword: "admin"
  service:
    type: ClusterIP

prometheus:
  prometheusSpec:
    retention: 7d
    storageSpec:
      emptyDir: {}

alertmanager:
  enabled: true
  alertmanagerSpec:
    storage:
      emptyDir: {}

kubeEtcd:
  enabled: false

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false
